@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap&subset=latin-ext");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

html { font-size: 16px; font-family: "SCDream", "Noto Sans JP", "Noto Sans KR", sans-serif; }

html body * { line-height: 1em; }

html[lang="ko-KR"], html[lang="ko"] { font-family: "SCDream", "Noto Sans JP", "Noto Sans KR", sans-serif; }

html[lang="ko-KR"] body, html[lang="ko"] body { font-size: 16px; font-weight: 400; }

html[lang="en"], html *[lang="en"] { font-family: "SCDream", "Noto Sans KR", sans-serif; }

html[lang="en"] body, html *[lang="en"] body { font-size: 18px; font-weight: 400; }

html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; -webkit-appearance: none; appearance: none; margin: 0; }

input[type="search"] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, button, p, blockquote, th, td, form, fieldset, blockquote, iframe { margin: 0; padding: 0; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -webkit-text-size-adjust: none; text-size-adjust: none; }

html * { -webkit-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; }

article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

img { vertical-align: top; border: 0; }

fieldset { border: 0; }

ul, ol, li { list-style: none; }

hr { display: none; border: 0; }

pre { white-space: pre-wrap; }

legend, caption { display: none; clear: both; }

a { color: inherit; cursor: pointer; }

a:link { text-decoration: none; }

a:hover, a:focus, a:active { text-decoration: none; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; word-break: keep-all; }

em, i, address, cite { font-style: normal; font-weight: normal; }

input, textarea, select, button, table { font-size: inherit; font-family: inherit; *font-size: inherit; border: 0; background-color: transparent; }

button, select { cursor: pointer; }

textarea, input, select { border-radius: 0; border: 0; outline-color: -moz-use-text-color; outline-style: none; outline-width: medium; }

textarea { resize: none; }

label { cursor: pointer; }

table { table-layout: fixed; border-collapse: collapse; border-spacing: 0; }

th, td { border-collapse: collapse; }

progress[value] { appearance: none; -moz-appearance: none; -webkit-appearance: none; border: none; background-size: auto; }

progress[value][role][aria-valuenow] { appearance: none; -moz-appearance: none; -webkit-appearance: none; border: none; background-size: auto; }

progress[value][role][aria-valuenow]:after { background-image: none; }

progress[value][role][aria-valuenow]:before { display: table; }

progress[value][role][aria-valuenow] strong { display: none; }

progress[value][role][aria-valuenow]::-webkit-progress-value, progress[value][role][aria-valuenow]::-webkit-progress-inner-element { display: table; }

progress[value][role][aria-valuenow]::-webkit-progress-bar { display: table-cell; }

progress[value][role][aria-valuenow]::-moz-progress-bar, progress[value][role][aria-valuenow]::-webkit-progress-value { display: table; }

textarea { color: inherit; }

textarea:focus::-webkit-input-placeholder { color: transparent; }

textarea:focus:-moz-placeholder { color: transparent; }

textarea:focus::-moz-placeholder { color: transparent; }

textarea:focus:-ms-input-placeholder { color: transparent; }

input[type="reset"], input[type="button"], input[type="submit"] { line-height: normal !important; cursor: pointer; }

input[type="button"], input[type="text"], input[type="image"], input[type="submit"] { -webkit-appearance: none; border-radius: 0; }

input:checked[type="checkbox"] { background-color: #fff; -webkit-appearance: checkbox; }

input { color: inherit; }

input::-webkit-input-placeholder { color: inherit; }

input::-moz-placeholder { color: inherit; }

input:-ms-input-placeholder { color: inherit !important; }

input:-moz-placeholder { color: inherit; }

input:focus { border: 0; }

input:focus::-webkit-input-placeholder { color: transparent; }

input:focus:-moz-placeholder { color: transparent; }

input:focus::-moz-placeholder { color: transparent; }

input:focus:-ms-input-placeholder { color: transparent; }

input:-webkit-autofill, textarea:-webkit-autofill, select { -webkit-appearance: none; appearance: none; }

input:-webkit-autofill:-webkit-autofill, textarea:-webkit-autofill:-webkit-autofill, select:-webkit-autofill { -webkit-text-fill-color: inherit; -webkit-box-shadow: 0 0 0px 1000px white inset; box-shadow: 0 0 0px 1000px white inset; }

input:-webkit-autofill::-ms-expand, textarea:-webkit-autofill::-ms-expand, select::-ms-expand { display: none; }

input[type="date"]::-webkit-clear-button { display: none; }

input[type="date"]::-webkit-inner-spin-button { display: none; }

input[type="date"]::-webkit-calendar-picker-indicator { color: #343434; background: #fff; }

input[type="date"] { -moz-appearance: none; appearance: none; -webkit-appearance: none; display: inline-block !important; visibility: visible !important; }

input[type="date"], input:focus { box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; }

@media print { code[class*="language-"], pre[class*="language-"] { text-shadow: none; }
	html * { color: #000; background: #fff; } }

pre, code { font-family: "SCDream", "Noto Sans KR", sans-serif; line-height: 1em; }

/* ====================================================================== */
/* [Web Font]
/* ====================================================================== */
@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); font-weight: 100; }
@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff') format('woff'); font-weight: 200; }
@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: 300; }
@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: 400; }
@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff'); font-weight: 500; }
@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: 600; }
@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff'); font-weight: 700; }
@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff'); font-weight: 800; }
@font-face { font-family: 'SCDream'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff') format('woff'); font-weight: 900; }

.clearfix { *zoom: 1; }

.clearfix:before, .clearfix:after { content: ""; display: block; }

.clearfix:after { clear: both; }

body { font-weight: 400; color: #222; line-height: 1; font-family: "SCDream", "Noto Sans KR",sans-serif; word-break: keep-all; }

select::-ms-expand{display:none;}

.wrap { position: relative; width: 100%; min-width: 20rem; letter-spacing: -0.035em; overflow: hidden; }

.w1440 { width: 100%; max-width: 1440px; margin: 0 auto; position: relative; }

.raleway { font-family: "Raleway", "SCDream", "Noto Sans KR",sans-serif; letter-spacing: normal; }

.black_bg { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.6); display: none; }

.blind { width: 100%; height: 100%; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.4); z-index: 9999; display: none; }

.p_only { display: block !important; }

.p_t_only { display: block !important; }

.t_only { display: none !important; }

.t_m_only { display: none !important; }

.m_only { display: none !important; }

.pc_img { display: inline !important; }

.pc_ta_img { display: inline !important; }

.ta_img { display: none !important; }

.ta_mo_img { display: none !important; }

.mo_img { display: none !important; }

.btn_wrap { margin-top: 40px; text-align: center; font-size: 0; }

.btn_wrap a { display: inline-block; margin-right: 14px; }

.btn_wrap a:last-of-type { margin-right: 0; }

.roundBtn { display: inline-block; width: 180px; height: 48px; line-height: 48px; font-size: 16px; font-weight: 600; border-radius: 6px; text-align: center; }

.roundBtn.big { width: 300px; height: 60px; line-height: 60px; font-size: 18px; }

.roundBtn.orange { background: #ff8400; color: #fff; }

.roundBtn.purple { background: #272a44; color: #fff; }

.lineRoundBtn { display: inline-block; width: 180px; height: 48px; line-height: 46px; font-size: 16px; font-weight: 600; border-radius: 6px; text-align: center; }

.lineRoundBtn.big { width: 300px; height: 60px; line-height: 58px; font-size: 18px; }

.lineRoundBtn.orange { border: 1px solid #ff8400; color: #ff8400; }

.lineRoundBtn.purple { border: 1px solid #272a44; color: #272a44; }

.lineRoundBtn.gray { border: 1px solid #ddd; color: #999; }

.underlineBtn { display: inline-block; font-size: 16px; padding-bottom: 1px; vertical-align: middle; }

.underlineBtn.orange { border-bottom: 1px solid #ff8400; color: #ff8400; }

.underlineBtn.purple { border-bottom: 1px solid #272a44; color: #272a44; }

.checkbox { display: inline-block; position: relative; }

.checkbox input[type="checkbox"] { width: 0; height: 0; position: absolute; top: 0; left: 0; z-index: 0; }

.checkbox input[type="checkbox"] + label { display: inline-block; line-height: 1.3; padding-left: 30px; font-size: 16px; color: #666; background: url("/common/ko/img/common/check_off_white.png") top left no-repeat; background-size: auto 20px; position: relative; z-index: 1; }

.checkbox input[type="checkbox"]:checked + label { background-image: url("/common/ko/img/common/check_on.png"); }

.smallTab { padding-bottom: 30px; }

.smallTab.bb2 { border-bottom: 2px solid #1b1b1b; }

.smallTab ul { font-size: 0; }

.smallTab ul li { display: inline-block; padding-right: 60px; vertical-align: top; }

.smallTab ul li:last-of-type { padding-right: 0; }

.smallTab ul li a { display: block; font-size: 22px; }

.smallTab ul li.on a { color: #ff8400; font-weight: 600; }

.centerScrollTab { padding: 80px 60px; text-align: center; }

.centerScrollTab ul { white-space: nowrap; position: relative; z-index: 4; }

.centerScrollTab ul li { padding-right: 0; }

.centerScrollTab ul li a { padding: 24px; font-size: 30px; position: relative; }

.centerScrollTab ul li.on a:after { content: ""; display: block; width: 100%; height: 4px; background: #ff8400; position: absolute; bottom: 0; left: 0; }

.centerScrollTab .mCustomScrollBox { z-index: 1; }

.centerScrollTab .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { background-color: #ddd; }

.centerScrollTab .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal { height: 4px; margin: 0; z-index: 0; }

.row { zoom: 1; }

.row:after { content: ''; display: block; clear: both; }

.pull-left { float: left; }

.pull-right { float: right; }

.ellipsis1{ display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:1; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; }

.ellipsis2{ display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; }

.ellipsis3{ display:-webkit-box; word-wrap:break-word; -webkit-line-clamp:3; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis; }

@media all and (max-width: 1520px) { .w1440 { max-width: 100%; padding: 0 60px; } }

@media all and (max-width: 1080px) { /* tablet */
	.p_only { display: none !important; }
	.p_t_only { display: block !important; }
	.t_only { display: block !important; }
	.t_m_only { display: block !important; }
	.m_only { display: none !important; }
	.pc_img { display: none !important; }
	.pc_ta_img { display: inline !important; }
	.ta_img { display: inline !important; }
	.ta_mo_img { display: inline !important; }
	.mo_img { display: none !important; }
	.w1440 { width: 100%; padding: 0 40px; margin: 0; }
	.btn_wrap a { margin-right: 20px; }
	.roundBtn { width: calc((100% - 20px) / 2); height: 70px; line-height: 70px; font-size: 26px; font-weight: 500; }
	.roundBtn.big { width: 100%; height: 90px; line-height: 90px; font-size: 28px; }
	.lineRoundBtn { width: calc((100% - 20px) / 2); height: 70px; line-height: 66px; font-size: 26px; font-weight: 600; }
	.lineRoundBtn.big { width: 100%; height: 90px; line-height: 86px; font-size: 28px; }
	.lineRoundBtn.orange { border-width: 2px; }
	.lineRoundBtn.purple { border-width: 2px; }
	.underlineBtn { font-size: 22px; padding-bottom: 4px; }
	.underlineBtn.orange { border-bottom-width: 2px; }
	.underlineBtn.purple { border-bottom-width: 2px; }
	.checkbox input[type="checkbox"] + label { padding-left: 45px; font-size: 24px; background-size: auto 30px; }
	.centerScrollTab { margin-bottom: 9.26vw; padding: 0; text-align: left; position: relative; }
	.centerScrollTab ul { padding: 0 3.70vw; }
	.centerScrollTab ul li a { padding: 2.78vw; font-size: 3.33vw; }
	.centerScrollTab ul li.on a:after { height: 0.37vw; z-index: 1; }
	.centerScrollTab .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal { height: 0.37vw; } }

@media all and (max-width: 770px) { /* mobile */
	.p_only { display: none !important; }
	.p_t_only { display: none !important; }
	.t_only { display: none !important; }
	.t_m_only { display: block !important; }
	.m_only { display: block !important; }
	.pc_img { display: none !important; }
	.pc_ta_img { display: none !important; }
	.ta_img { display: none !important; }
	.ta_mo_img { display: inline !important; }
	.mo_img { display: inline !important; }
	.w1440 { padding: 0 5.56vw; }
	.btn_wrap { margin-top: 5.56vw; }
	.btn_wrap a { margin-right: 2.77vw; }
	.roundBtn { width: calc((100% - 2.78vw) / 2); height: 9.72vw; line-height: 9.72vw; font-size: 3.61vw; border-radius: 0.83vw; }
	.roundBtn.big { height: 12.50vw; line-height: 12.50vw; font-size: 3.89vw; }
	.lineRoundBtn { width: calc((100% - 2.78vw) / 2); height: 9.72vw; line-height: 9.17vw; font-size: 3.61vw; border-radius: 0.83vw; }
	.lineRoundBtn.big { height: 12.50vw; line-height: 11.94vw; font-size: 3.89vw; }
	.lineRoundBtn.orange { border-width: 0.28vw; }
	.lineRoundBtn.purple { border-width: 0.28vw; }
	.underlineBtn { font-size: 3.06vw; padding-bottom: 0.56vw; }
	.underlineBtn.orange { border-bottom-width: 0.28vw; }
	.underlineBtn.purple { border-bottom-width: 0.28vw; }
	.checkbox input[type="checkbox"] + label { padding-left: 6.25vw; font-size: 3.33vw; background-size: auto 100%; }/* background-size 아이폰때문에 변경 */
	.smallTab { padding-bottom: 13.89vw; position: relative; }
	.smallTab.bb2 { border-bottom: 0; }
	.smallTab .mSelect { width: 100%; border: 0.28vw solid #ddd; border-radius: 1.39vw; position: absolute; top: 0; left: 0; background: #fff; }
	.smallTab p { height: 10.83vw; line-height: 10.83vw; font-size: 3.89vw; padding: 0 11.81vw 0 5.56vw; background: url("/common/ko/img/layout/moMenu_arrow_d.png") center right 5.56vw no-repeat; background-size: 4.31vw auto; }
	.smallTab p.on { background: url("/common/ko/img/layout/moMenu_arrow_u.png") center right 5.56vw no-repeat; background-size: 4.31vw auto; }
	.smallTab ul { display: none; }
	.smallTab ul li { display: block; padding: 0; margin-bottom: 1.39vw; }
	.smallTab ul li:last-of-type { margin-bottom: 2.78vw; }
	.smallTab ul li a { display: block; padding: 1.39vw 5.56vw; font-size: 3.89vw; }
	.smallTab ul li.on a { color: inherit; font-weight: 400; }
	.centerScrollTab { padding-bottom: 0; margin-bottom: 13.89vw; }
	.centerScrollTab:after { height: 0.28vw; }
	.centerScrollTab ul { display: block; padding: 0 5.56vw; margin: 0 -5.56vw; overflow-x: auto !important; }
	.centerScrollTab ul li { display: inline-block; margin-bottom: 0; }
	.centerScrollTab ul li:last-of-type { margin-bottom: 0; }
	.centerScrollTab ul li a { padding: 4.17vw; font-size: 5vw; }
	.centerScrollTab ul li.on a { color: #ff8400; font-weight: 600; }
	.centerScrollTab ul li.on a:after { height: 0.56vw; }
	.centerScrollTab .mCustomScrollBox.mCS-minimal-dark + .mCSB_scrollTools.mCSB_scrollTools_horizontal { height: 0.56vw; } }

/*# sourceMappingURL=maps/common.css.map */
